[Unit]
Description=AsterQuanta OS - interface graphique (kiosque Cage/Wayland)
After=aqm-supervisor.service systemd-user-sessions.service
Wants=aqm-supervisor.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/cage -- /usr/bin/aqm-ui
Restart=always
RestartSec=2
User=operator
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal

[Install]
WantedBy=graphical.target
